appdirs==1.4.4
argcomplete==2.0.0
decorator==5.1.1
escpos==1.9
Flask==1.1.2
future==0.18.2
itsdangerous==1.1.0
pika==1.2.0
Pillow==9.2.0
prettytable==3.4.1
python-barcode==0.14.0
pyusb==1.2.1
qrcode==7.3.1
validators==0.20.0
viivakoodi==0.8.0
wcwidth==0.2.5
Werkzeug==1.0.1
